.gradient-snake {
  min-height: 100vh;
  // .gradient-snake__cursor
  &__cursor {
    position: relative;
    width: 100px;
    height: 100px;
  }
  // .gradient-snake__circle
  &__circle {
    position: absolute;
    left: 150px;
    top: 150px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(180deg, #00d0ff, #ff005e);
    transform: translate(-50%, -50%);
  }
}
