.auth {
  min-height: 100vh;
  padding: 150px 0px;
  // .auth__container
  &__container {
  }
  // .auth__body
  &__body {
    display: grid;
    row-gap: 30px;
    place-items: center;
		text-align: center;
  }
  // .auth__buttons
  &__buttons {
		width: 400px;
    display: grid;
    grid-template: 40px / repeat(2, 1fr);
    column-gap: 30px;
  }
}
